body {
  background-image: url("norway.jpg");
  background-size: cover;
  font-family: Roboto, Oxygen, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
}

#increment-btn {
  background: blue;
}

#save-count-btn {
  background: darkgreen;
}

.container {
  background: #ffffff8b;
  max-width: 80%;
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
}

#register-name-btn {
  background: peru;
}
#register-custon-count-btn {
  background: rgb(196, 40, 40);
}